{
  "githubToken": "<awesome-token-here>",
  "enterprise": "royal-philips",
  "organizations": [
    { 
      "name": "philips-software", 
      "id": 12321 
    },
    { "name": "philips-labs", 
      "id": 12323 
    }
  ]
}
