{
  "githubToken": "<awesome-token-here>",
  "enterprise": "<enterprise-organization-name>",
  "organizations": [
    {
      "name": "philips-software"
    },
    { "name": "philips-labs"
    }
  ],
  "slackToken": "<slackToken>",
  "slackChannel": "#varys-channel"
}
